*{
    margin: 0;
    padding: 0;
}
body{
    
    background: linear-gradient(to left, #cae4f1 0%, #8b96c1 100%);

}
.containers{
    height: 100vh;
    width: 100%;
    background-image: url(image/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
} 
.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    width: 40px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left:60px ;
 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none; 
    color: black;
}
.content h1{
    font-size: 60px;
    font-weight: 100px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 20px;
    color: #232d60;
}
.content{
    margin-left:10% ;
    margin-top:10% ;

}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#294b96,#d6339a);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(248, 158, 158);
    transition: 1.2s;
    /* box-shadow: 3px 8px 22px rgba(94, 28, 64, 1.5); */
}
.content .btn:hover{
    display: inline-block;
    background: linear-gradient(45deg,#294b96,#d6339a);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(248, 158, 158);
    transform: translateZ(15px);
    box-shadow: 3px 8px 22px rgba(94, 28, 64, 1.5);
}
.icons{
    margin-top: 40px;
    display: flex;
}
.icons img{
    width: 40px;
    margin-right: 25px;
}
.image{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;   
    bottom: 180px;
}
.social a{
    text-decoration: none;
    color: #0b3765;
    padding-right: 20px;
    font-size: 14px;
}
.social a img{
max-width: 20px;
}
